name: Generate Snake

on:
  # Jalankan otomatis setiap 24 jam
  schedule:
    - cron: "0 0 * * *" 
  
  # Bolehkan dijalankan manual kapan saja
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          # Nama user github kamu
          github_user_name: dwikalintangn
          # File output yang akan di-generate (dark mode & light mode)
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Push to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
